*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 2rem;
  box-sizing: border-box;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(4, 11, 9, 0.75), rgba(21, 22, 21, 0.8)), url("home.jpg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}

.header-logo {
  height: 3.5rem;
}

.header-logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header-text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 10rem;
  letter-spacing: 3.5rem;
  animation-name: moveInleft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  /* animation-delay: 3s;
      animation-iteration-count: 3;
       */
}

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 70rem;
  letter-spacing: 1.74rem;
  animation-name: moveInright;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  background-color: white;
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0.1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  transform: scaleX(1.5) scaleY(1.5);
  opacity: 0;
}

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #fff;
  color: #777;
}

.btn--white::after {
  background-color: #fff;
}

.btn--white::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn--animated {
  animation-name: moveInup;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0.75s;
  animation-fill-mode: backwards;
}

@keyframes moveInleft {
  0% {
    opacity: 0;
    transform: translateX(-1rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInright {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-0.1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInup {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

footer {
  background-color: #222;
  color: #fff;
  font-size: 14px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  z-index: 999;
}

footer p {
  margin: 10px 0;
}

footer i {
  color: white;
}

footer a {
  color: #3c97bf;
  text-decoration: none;
}

.social {
  margin: 5px;
}

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.4;
}

html {
  font-size: 62.5%;
}

.flex-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 500px;
  justify-content: center;
  transition: 2s all ease;
}

.flex-item {
  background: red;
  border: 1pt solid black;
  width: 10px;
  transition: 0.1s all ease;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

#input {
  display: flex;
  padding: 10px;
  justify-content: space-around;
}

.heading-secondary {
  font-size: 3.5rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-background-clip: text;
  letter-spacing: .2rem;
  margin-bottom: 10rem;
}

#size, #speed {
  font-size: 1.5em;
}

.heading-primary2 {
  text-align: center;
  margin-bottom: 5rem;
  color: black;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.sort-button {
  display: inline-block;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
}

.arraybtn {

  display: flex;
  justify-content: center;
}

@media (max-width:750px) and (min-width:400px) {
  html {
    font-size: 54.5%;
  }

  .heading-primary--sub {
    padding-top: 2rem;
    display: block;
    font-size: 2rem;
    font-weight: 70rem;
    letter-spacing: 1.74rem;
    animation-name: moveInright;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  .heading-primary--main {
    display: block;
    margin-top: 5rem;
    font-size: 4rem;
    font-weight: 10rem;
    letter-spacing: 3.5rem;
    animation-name: moveInleft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* animation-delay: 3s;
        animation-iteration-count: 3;
         */
  }

  .heading-secondary {
    font-size: 2.3rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    -webkit-background-clip: text;
    letter-spacing: .2rem;
    margin-bottom: 10rem;
  }
  .sort-button {
    display: inline-block;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
  }

  .arraybtn {
    display: flex;
    justify-content: center;
  }

}

@media (max-width:400px) and (min-width:300px) {
  html {
    font-size: 46.5%;
  }

  .heading-primary--sub {
    padding-top: 2rem;
    display: block;
    font-size: 2rem;
    font-weight: 70rem;
    letter-spacing: 1.74rem;
    animation-name: moveInright;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  .heading-primary--main {
    display: block;
    margin-top: 5rem;
    font-size: 4rem;
    font-weight: 10rem;
    letter-spacing: 3.5rem;
    animation-name: moveInleft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* animation-delay: 3s;
        animation-iteration-count: 3;
         */
  }

  .heading-secondary {
    font-size: 2.3rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    -webkit-background-clip: text;
    letter-spacing: .2rem;
    margin-bottom: 10rem;
  }
  .sort-button {
    display: inline-block;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
  }

  .arraybtn {
    display: flex;
    justify-content: center;
  }

}
